%p#notice= notice
%h1 Listing games

%table
  %tr
    %th Title
    %th Rating
    %th Created At

  - @games.each do |game|
    %tr
      %td= link_to game.title, game
      %td= game.rating
      %td= "#{game.created_at.to_s(:month_day_year)} by #{game.user.full_name}"

%br

= link_to 'New Game', new_game_path
