%p#notice= notice


%p
  #{@total_games} Total Games
  = link_to 'New Game', new_admin_game_path
= will_paginate @games
%table
  %tr
    %th Title
    %th Rating
    %th Created At

  - @games.each do |game|
    %tr
      %td= link_to game.title, [:admin, game]
      %td= game.rating
      %td= "#{game.created_at.to_s(:month_day_year)} by #{(game.user.full_name == current_user.full_name) ?  "me" : game.user.full_name}"

%br
