= form_for [:admin, @user], html: {multipart: true} do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :first
    = f.text_field :first
  .field
    = f.label :last
    = f.text_field :last
  .field
    = f.file_field :avatar
  .field
    =f.label :role
    = f.select("role_id",Role.all.collect{|a|[a.name,a.id]})
  .actions
    = f.submit 'Save'
