%p#notice= notice
=image_tag @user.avatar.url(:medium) if @user.avatar?
%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b First:
  = @user.first
%p
  %b Last:
  = @user.last

= link_to 'Edit', edit_member_user_path(@user)
\|
= link_to 'Back', member_root_path
