%p#notice= notice

%p
  %b Title:
  = @game.title
%p
  %b Rating:
  = @game.rating

= link_to 'Edit', edit_member_game_path(@game) if @game.user_id == current_user.id
\|
= link_to 'Back', member_games_path
