
<% content_for :subtitle do %>
  <%= "... with a name .com hipsters love!" %>
<% end %>


<p id="notice"><%= notice %></p>
<h3>All the World's Articles</h3>
<%= link_to image_tag('add.png')+'New Article', new_article_path, title: "Create your own fantastic article!" %>

<div class="scroll">
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th>Creation Date</th>
      <th></th>
      <th></th>
    </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= truncate(strip_tags(article.body), length: 40) %>
      <td><%= article.author %></td>
      <td><%= article.created_at.to_s(:creation_format) %></td>
      <td><%= link_to image_tag('view.png'), article, title: "View #{article.title}" %></td>
      <td><%= link_to image_tag('edit.png'), edit_article_path(article), title: "Edit #{article.title}" %></td>
      <td><%= link_to image_tag('delete.png'), article, confirm: 'Are you sure?', method: :delete, title: "Delete #{article.title}" %></td>
    </tr>
  <% end %>
  </table>
</div>

<br />
<p>
  <%=  pluralize(@articles.length, "article")+"." %>
</p>

